<%# Available:
  @post.title
  @post.content_markup
  @post.publish_on
  @post.settings['Setting Name']
  pagination_list @posts: List of pages of posts
  list_posts(@posts): Marked up list of posts    
  For formatting time, use strftime - see Ruby time.strftime for options
%>
<div class="content">
  <h1><%= @page.title %></h1>

  <% @posts.each do |post| %>

    <div class="post event">
      <h4 class="date"><%= post.publish_on.strftime("%B %d, %Y") %></h4>
      <h2><%= post.title %></h2>

      <%= post.content_markup %>
    
    </div>
    
  <% end %>
  


  <div class="pagination">
    <strong>Older:</strong><br /> 
    <%= pagination_list @posts %>
  </div>
</div>​